$material_ui_amber_50: #fff8e1;
$material_ui_amber_100: #ffecb3;
$material_ui_amber_200: #ffe082;
$material_ui_amber_300: #ffd54f;
$material_ui_amber_400: #ffca28;
$material_ui_amber_500: #ffc107;
$material_ui_amber_600: #ffb300;
$material_ui_amber_700: #ffa000;
$material_ui_amber_800: #ff8f00;
$material_ui_amber_900: #ff6f00;
$material_ui_amber_a100: #ffe57f;
$material_ui_amber_a200: #ffd740;
$material_ui_amber_a400: #ffc400;
$material_ui_amber_a700: #ffab00;
$material_ui_amber: $material_ui_amber_500;