$material_ui_bluegrey_50: #eceff1;
$material_ui_bluegrey_100: #cfd8dc;
$material_ui_bluegrey_200: #b0bec5;
$material_ui_bluegrey_300: #90a4ae;
$material_ui_bluegrey_400: #78909c;
$material_ui_bluegrey_500: #607d8b;
$material_ui_bluegrey_600: #546e7a;
$material_ui_bluegrey_700: #455a64;
$material_ui_bluegrey_800: #37474f;
$material_ui_bluegrey_900: #263238;
$material_ui_bluegrey: $material_ui_bluegrey_500;