$material_ui_blue_50: #e3f2fd;
$material_ui_blue_100: #bbdefb;
$material_ui_blue_200: #90caf9;
$material_ui_blue_300: #64b5f6;
$material_ui_blue_400: #42a5f5;
$material_ui_blue_500: #2196f3;
$material_ui_blue_600: #1e88e5;
$material_ui_blue_700: #1976d2;
$material_ui_blue_800: #1565c0;
$material_ui_blue_900: #0d47a1;
$material_ui_blue_a100: #82b1ff;
$material_ui_blue_a200: #448aff;
$material_ui_blue_a400: #2979ff;
$material_ui_blue_a700: #2962ff;
$material_ui_blue: $material_ui_blue_500;