$material_ui_cyan_50: #e0f7fa;
$material_ui_cyan_100: #b2ebf2;
$material_ui_cyan_200: #80deea;
$material_ui_cyan_300: #4dd0e1;
$material_ui_cyan_400: #26c6da;
$material_ui_cyan_500: #00bcd4;
$material_ui_cyan_600: #00acc1;
$material_ui_cyan_700: #0097a7;
$material_ui_cyan_800: #00838f;
$material_ui_cyan_900: #006064;
$material_ui_cyan_a100: #84ffff;
$material_ui_cyan_a200: #18ffff;
$material_ui_cyan_a400: #00e5ff;
$material_ui_cyan_a700: #00b8d4;
$material_ui_cyan: $material_ui_cyan_500;