$material_ui_deeppurple_50: #ede7f6;
$material_ui_deeppurple_100: #d1c4e9;
$material_ui_deeppurple_200: #b39ddb;
$material_ui_deeppurple_300: #9575cd;
$material_ui_deeppurple_400: #7e57c2;
$material_ui_deeppurple_500: #673ab7;
$material_ui_deeppurple_600: #5e35b1;
$material_ui_deeppurple_700: #512da8;
$material_ui_deeppurple_800: #4527a0;
$material_ui_deeppurple_900: #311b92;
$material_ui_deeppurple_a100: #b388ff;
$material_ui_deeppurple_a200: #7c4dff;
$material_ui_deeppurple_a400: #651fff;
$material_ui_deeppurple_a700: #6200ea;
$material_ui_deeppurple: $material_ui_deeppurple_500;