$material_ui_deeporange_50: #fbe9e7;
$material_ui_deeporange_100: #ffccbc;
$material_ui_deeporange_200: #ffab91;
$material_ui_deeporange_300: #ff8a65;
$material_ui_deeporange_400: #ff7043;
$material_ui_deeporange_500: #ff5722;
$material_ui_deeporange_600: #f4511e;
$material_ui_deeporange_700: #e64a19;
$material_ui_deeporange_800: #d84315;
$material_ui_deeporange_900: #bf360c;
$material_ui_deeporange_a100: #ff9e80;
$material_ui_deeporange_a200: #ff6e40;
$material_ui_deeporange_a400: #ff3d00;
$material_ui_deeporange_a700: #dd2c00;
$material_ui_deeporange: $material_ui_deeporange_500;