$material_ui_green_50: #e8f5e9;
$material_ui_green_100: #c8e6c9;
$material_ui_green_200: #a5d6a7;
$material_ui_green_300: #81c784;
$material_ui_green_400: #66bb6a;
$material_ui_green_500: #4caf50;
$material_ui_green_600: #43a047;
$material_ui_green_700: #388e3c;
$material_ui_green_800: #2e7d32;
$material_ui_green_900: #1b5e20;
$material_ui_green_a100: #b9f6ca;
$material_ui_green_a200: #69f0ae;
$material_ui_green_a400: #00e676;
$material_ui_green_a700: #00c853;
$material_ui_green: $material_ui_green_500;