$material_ui_indigo_50: #e8eaf6;
$material_ui_indigo_100: #c5cae9;
$material_ui_indigo_200: #9fa8da;
$material_ui_indigo_300: #7986cb;
$material_ui_indigo_400: #5c6bc0;
$material_ui_indigo_500: #3f51b5;
$material_ui_indigo_600: #3949ab;
$material_ui_indigo_700: #303f9f;
$material_ui_indigo_800: #283593;
$material_ui_indigo_900: #1a237e;
$material_ui_indigo_a100: #8c9eff;
$material_ui_indigo_a200: #536dfe;
$material_ui_indigo_a400: #3d5afe;
$material_ui_indigo_a700: #304ffe;
$material_ui_indigo: $material_ui_indigo_500;