$material_ui_lightblue_50: #e1f5fe;
$material_ui_lightblue_100: #b3e5fc;
$material_ui_lightblue_200: #81d4fa;
$material_ui_lightblue_300: #4fc3f7;
$material_ui_lightblue_400: #29b6f6;
$material_ui_lightblue_500: #03a9f4;
$material_ui_lightblue_600: #039be5;
$material_ui_lightblue_700: #0288d1;
$material_ui_lightblue_800: #0277bd;
$material_ui_lightblue_900: #01579b;
$material_ui_lightblue_a100: #80d8ff;
$material_ui_lightblue_a200: #40c4ff;
$material_ui_lightblue_a400: #00b0ff;
$material_ui_lightblue_a700: #0091ea;
$material_ui_lightblue: $material_ui_lightblue_500;