$material_ui_lightgreen_50: #f1f8e9;
$material_ui_lightgreen_100: #dcedc8;
$material_ui_lightgreen_200: #c5e1a5;
$material_ui_lightgreen_300: #aed581;
$material_ui_lightgreen_400: #9ccc65;
$material_ui_lightgreen_500: #8bc34a;
$material_ui_lightgreen_600: #7cb342;
$material_ui_lightgreen_700: #689f38;
$material_ui_lightgreen_800: #558b2f;
$material_ui_lightgreen_900: #33691e;
$material_ui_lightgreen_a100: #ccff90;
$material_ui_lightgreen_a200: #b2ff59;
$material_ui_lightgreen_a400: #76ff03;
$material_ui_lightgreen_a700: #64dd17;
$material_ui_lightgreen: $material_ui_lightgreen_500;