$material_ui_orange_50: #fff3e0;
$material_ui_orange_100: #ffe0b2;
$material_ui_orange_200: #ffcc80;
$material_ui_orange_300: #ffb74d;
$material_ui_orange_400: #ffa726;
$material_ui_orange_500: #ff9800;
$material_ui_orange_600: #fb8c00;
$material_ui_orange_700: #f57c00;
$material_ui_orange_800: #ef6c00;
$material_ui_orange_900: #e65100;
$material_ui_orange_a100: #ffd180;
$material_ui_orange_a200: #ffab40;
$material_ui_orange_a400: #ff9100;
$material_ui_orange_a700: #ff6d00;
$material_ui_orange: $material_ui_orange_500;