$material_ui_pink_50: #fce4ec;
$material_ui_pink_100: #f8bbd0;
$material_ui_pink_200: #f48fb1;
$material_ui_pink_300: #f06292;
$material_ui_pink_400: #ec407a;
$material_ui_pink_500: #e91e63;
$material_ui_pink_600: #d81b60;
$material_ui_pink_700: #c2185b;
$material_ui_pink_800: #ad1457;
$material_ui_pink_900: #880e4f;
$material_ui_pink_a100: #ff80ab;
$material_ui_pink_a200: #ff4081;
$material_ui_pink_a400: #f50057;
$material_ui_pink_a700: #c51162;
$material_ui_pink: $material_ui_pink_500;