$material_ui_purple_50: #f3e5f5;
$material_ui_purple_100: #e1bee7;
$material_ui_purple_200: #ce93d8;
$material_ui_purple_300: #ba68c8;
$material_ui_purple_400: #ab47bc;
$material_ui_purple_500: #9c27b0;
$material_ui_purple_600: #8e24aa;
$material_ui_purple_700: #7b1fa2;
$material_ui_purple_800: #6a1b9a;
$material_ui_purple_900: #4a148c;
$material_ui_purple_a100: #ea80fc;
$material_ui_purple_a200: #e040fb;
$material_ui_purple_a400: #d500f9;
$material_ui_purple_a700: #aa00ff;
$material_ui_purple: $material_ui_purple_500;