$material_ui_teal_50: #e0f2f1;
$material_ui_teal_100: #b2dfdb;
$material_ui_teal_200: #80cbc4;
$material_ui_teal_300: #4db6ac;
$material_ui_teal_400: #26a69a;
$material_ui_teal_500: #009688;
$material_ui_teal_600: #00897b;
$material_ui_teal_700: #00796b;
$material_ui_teal_800: #00695c;
$material_ui_teal_900: #004d40;
$material_ui_teal_a100: #a7ffeb;
$material_ui_teal_a200: #64ffda;
$material_ui_teal_a400: #1de9b6;
$material_ui_teal_a700: #00bfa5;
$material_ui_teal: $material_ui_teal_500;