$material_ui_yellow_50: #fffde7;
$material_ui_yellow_100: #fff9c4;
$material_ui_yellow_200: #fff59d;
$material_ui_yellow_300: #fff176;
$material_ui_yellow_400: #ffee58;
$material_ui_yellow_500: #ffeb3b;
$material_ui_yellow_600: #fdd835;
$material_ui_yellow_700: #fbc02d;
$material_ui_yellow_800: #f9a825;
$material_ui_yellow_900: #f57f17;
$material_ui_yellow_a100: #ffff8d;
$material_ui_yellow_a200: #ffff00;
$material_ui_yellow_a400: #ffea00;
$material_ui_yellow_a700: #ffd600;
$material_ui_yellow: $material_ui_yellow_500;